@font-face {
  font-family: "HeadFont";
  src: url("../RockSalt-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "BodyFont";
  src: url("../PatrickHand-Regular.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "Arimo";
  src: url("../Arimo-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arimo";
  src: url("../Arimo-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NotoColorEmoji";
  src: url("../NotoColorEmoji-Regular.ttf") format("truetype");
  font-display: swap;
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF, U+2700-27BF, U+1F900-1F9FF, U+1F1E0-1F1FF;
}

:root{
  --body-font: "Arimo", "NotoColorEmoji", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --heading-font: "HeadFont", Georgia, "Times New Roman", serif;

  --texture-url: url('/textures/fresh-snow.png');
  --texture-opacity: 0.3;
  --texture-size: 200px;

  --accent: #c21a1a;

  --about-bg: #b2d9ef3d;
  --about-on-bg: rgba(237, 242, 250, 0.342);
  --project-bg: #ffffff42;
  --project-on-bg: rgba(255, 255, 255, 0.712);
}

/* global usage */
body {
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  font-size: large;
}

h2{
  font-family: var(--heading-font);
  font-size: x-large;
}
h2 u{
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
  text-decoration-color: var(--accent);
}

.has-texture {
  position: relative; /* needed so ::before can cover it */
  overflow: visible;
}

.has-texture::before{
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: var(--texture-url);
  background-repeat: repeat;
  background-size: var(--texture-size);
  mix-blend-mode: multiply; /* try multiply / soft-light / overlay */
  opacity: var(--texture-opacity);
  border-radius: inherit;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-50%) translateX(-4px); }
    to   { opacity: 1; transform: translateY(-50%) translateX(0); }
}